# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Npm web app build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          path: ./web_app
      
      - name: install JQ
        run: apt install jq -y
      
      - name: start docker
        run: |
          cd ./web_app
          docker-comopse up -d
      
      - name: run tests
        run: bash ./web_app/tests.sh
      
      
      
